
<!DOCTYPE html>
<html>
<title>Joker</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<style>
body {font-family: "Raleway", Arial, sans-serif}
.w3-row img {margin-bottom: -8px}
</style>
<body>

<!-- !PAGE CONTENT! -->


<!-- Footer / About Section -->
<footer class="w3-light-grey w3-padding-64 w3-center" id="about">
    <font size="20" color="red">Joker</font> 
    <br>
    <br>
    <br>
    <h1>First evaluate five jokes!</h1>
    <br>
    <font style="margin:auto;width:60%" size="5"> {{text}}</font>
    <br>
    <br>
    <br>
    <form method="post">
        <input type="submit" name="Button" value="Dislike" class="w3-button w3-block w3-light-grey">
        <input type="submit" name="Button" value="Meh" class="w3-button w3-block w3-light-grey">
        <input type="submit" name="Button" value="Like" class="w3-button w3-block w3-light-grey">
    </form>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>  
  <br>
</footer>
 
</body>
</html>
